---
galaxy_info:
  role_name: nginx
  author: valueiron
  description: Install and configure nginx with a custom index page showing the server IP
  license: MIT
  min_ansible_version: "2.9"
  platforms:
    - name: EL
      versions:
        - "8"
        - "9"
    - name: Ubuntu
      versions:
        - focal
        - jammy

dependencies: [] 
