<html>
  <head>
    <title>Welcome to nginx!</title>
  </head>
  <body>
    <h1>Welcome to nginx on {{ nginx_server_ip }} ({{ nginx_server_hostname }})</h1>
    <p>This page is served from your server at IP: <strong>{{ nginx_server_ip }}</strong></p>
    <p>Server hostname: <strong>{{ nginx_server_hostname }}</strong></p>
    <p>Distribution: <strong>{{ nginx_server_distribution }}</strong></p>
    <p>Number of CPUs: <strong>{{ nginx_server_cpus }}</strong></p>
    <p>RAM: <strong>{{ nginx_server_ram_mb }} MB</strong></p>
  </body>
</html> 
