{
  "ip": "{{ nginx_server_ip }}",
  "hostname": "{{ nginx_server_hostname }}",
  "distribution": "{{ nginx_server_distribution }}",
  "cpus": {{ nginx_server_cpus }},
  "ram_mb": {{ nginx_server_ram_mb }}
} 